<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title>Fake Search Engine</title>
	<link rel="stylesheet" href="/css/index.css" />
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src = "/js/index.js"></script>
    <script src=""></script>

</head>
<body>
	<ul id="search_package">
            <!--
            <form id="add_new_contact" role="form" method="get" action="/search-contact">
            -->
            <li>
                <h3>Welcome to our search experiment.</h3>
                <h3>We have three questions for you to answer, each may take around 5 minutes. </h3>
                <h3>For each question, please look though the information we provide to you and write down your own answer. After each question, a questionnaire is required to be filled out. </h3>
                <h3>We will record the time you spend on each question. </h3>
                <h3>All the information will be kept confidential.</h3>
                <h3>Click "Next" to start the experiment!</h3>
            </li>

                <button id="next_button" class = "next_button" onclick="gotoQuestion1()">
                    <strong>Next</strong>
                </button>

            <!-- <li>
                <br>
                <h3 id="list_search_res"></h3>
            </li>
            <li class="search_item">
                <div class="container">
                    <div class="control-group">
                        <div class = "plugin"></div>
                            <!--
                                    <label class="control control--checkbox">
                                        <h5 class = "res_name"><img class="contact_img" hspace="10" src=""></h5>
                                        <input id = "user" type="checkbox" name="user" value="">
                                        <div class="control__indicator"></div>
                                    </label>
                            -->
                    <!-- </div>
                </div>
            </li>
            <div class = "plugin_no_res"></div>  -->
        </ul>
</body>
</html>
