<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title>Fake Search Engine</title>
	<link rel="stylesheet" href="/css/index.css" />
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>

</head>
<body>
	<ul>
        <img class="place_img" hspace="10" src="{{image}}">
        <h3>Description: </h3>
		<h4>{{content}}</h4>
        <br>
        <p><a href="{{link}}">More details</a></p>
	</ul>
</body>
</html>
